.nav-bar{
    border-bottom: 4px solid black;
}
button.list-btn{
    display: inline;
}
ul.nav-ul{
    display: none;
}
ul.nav-ul.list{
    float: left;
    display: block;
    position: absolute;
    top:80px;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    text-align: center;
    padding:0 0; 
    border-top:2px solid black;
}
ul.nav-ul li{
    padding:5px 5px;
    display: block;
    font-size: 24px;
    margin: 10px auto;
    background: whitesmoke;
    border-bottom:2px solid black;
    border-radius: 4px;
    margin:0 0 ;
}
#intro{
    height: 50vh;
}
#about{
    height: 60vh;
    margin-top:50vh;
}
.bg{
    margin-top:100vh;
}
#works{
    height: 45vh;
}
.name-part{
    width:100%;
    padding:0 0;
}
#intro-name{
    border-right: 0px solid red;
}
#about-name{
    border-left: 0px solid red;
}
#works-name{
    border-right: 0px solid red;
}
#link-name{
    border-left: 0px solid red;
}


footer{
    margin-top:175vh;
}